@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext)
	;

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@500&display=swap');

.heading {
     font-family: 'Black Han Sans';
     font-size: 40px;
    }
    
    a {
    	font-family: 'Noto Sans KR';
 }

.container.home {
	margin-top: 50px
}

.container.home h1 {
	margin-bottom: 30px
}

.container.home table {
	font-size: 16px
}

.top-panel {
	margin-bottom: 30px
}

#firm_copy_table {
	display: none
}